.separator {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-top: 60px;
    background-color: #d3cdc3;
    height: 5px;
    width: inherit;
    /*box-shadow: 0 0 0.3px black;*/
}